<div class="container">
    <div>
        <div>
            <h1>CONTRIBUTOR REGISTRATION</h1>
        </div>
    
        <div class="form-container">
            <form>

                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" class="form-input" placeholder="MrDavid06" autocomplete="off">

                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" class="form-input" placeholder="MrDavid06@example.com" autocomplete="off">

                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" class="form-input" placeholder="*******" autocomplete="off">

                <label for="confirm-password" class="form-label">Confirm password</label>
                <input type="password" id="confirm-password" class="form-input" placeholder="*******" autocomplete="off">

                <button class="btn-create-account">CREATE ACCOUNT</button>
                <span class="form-terms">By creating an account, you agree to our <a href="#">Terms of service</a></span>
            </form>

            <div class="image-container">
                <img src="{{ images_path }}register-page-image.png" alt="">
            </div>
        </div>
    </div>
</div>