.container {
    margin: 50px;
    display:flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

.container-title {
    color: #fff;
    font-size: 20px;
}
.container .categorys-container .categorys-list {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.container .contributors-container {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 400px;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .19);
    color: #fff;
}

.container .contributors-container .container-title {
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 30px;
}

.container .contributors-container .container-title::after {
    content: "";
    height: 500px;
    width: 200px;
    background-color: black;
}

.container .contributors-container .contribute-btn {
    margin: 25px 15px;
    padding: 15px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: #047BC7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.container .contributors-container .contribute-btn:hover {
    background-color: #026aac;

}