<div class="container">

    <div class="categorys-container">

        <h1 class="container-title">categoryS</h1>
        
        <div class="categorys-list">

            <app-category *ngFor="let category of categorysList" [category]="category"></app-category>
            
        </div>

    </div>

    <div class="contributors-container">

        <h2 class="container-title">TOP</h2>

        <app-contributor *ngFor="let contributor of contributorsList; let i = index" [contributor]="contributor" [isOdd]=" i % 2 === 0"></app-contributor>

        <a routerLink="/register" class="contribute-btn">CONTRIBUTE</a>
    </div>

</div>

