@import '../scss/breakpoints.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../assets/bg-fixed-3.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}